<style>
    .mdl-card {
        width: 512px;
    }
</style>
{% for post in site.posts %}
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp mdl-color--white content mdl-color-text--grey-800">
    <div class="mdl-card__title" style="padding-bottom: 0px;">
        <h2 class="mdl-card__title-text">{{ post.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <h3 class="mdl-card__subtitle-text">{{ post.date | date: "%b %-d, %Y" }}</h3>
    </div>
    <div class="mdl-card__supporting-text">
        {{ post.excerpt }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-button mdl-button--colored mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      Read More
    </a>
    </div>
    <!--<div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-button--colored mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>-->
</div>
{% endfor %}
