---
layout: default
---
<style>
    .content {
        border-radius: 2px;
        padding: 80px 56px;
        margin-bottom: 80px;
    }
    
    .content img {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <header>
            <h3>{{ page.title }}</h3>
            <h4>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
        </header>

        <article>
            {{ content | replace: '&lt;!--more--&gt;', '' }}
        </article>
    </div>
</div>
